PORT=3000
MONGODB_URI=mongodb+srv://heinhtet:heinhtetdev2974@myanmar-subtitle.xiivffy.mongodb.net/
JWT_SECRET=heinhtetmyanmarsrttranslatorwebs
ENCRYPTION_KEY=heinhtetmyanmarsrttranslatorwebs
GOOGLE_CLIENT_ID=878794717484-a22nl0ihnkb1ra0894v4qtaipgh9kjib.apps.googleusercontent.com
# Telegram Bot for KPay payment verification (optional but recommended)
TELEGRAM_BOT_TOKEN=8219096427:AAFpxYiDTJtL2rbolDK-_lcgXGp41gsh_O8
TELEGRAM_CHANNEL_ID=-1003853533124
TELEGRAM_WEBHOOK_SECRET=heinhtetmyanmarsrttranslatorwebs
# Frontend URL
CLIENT_URL=https://www.myanmarsrt.com
